@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.outfit-400 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.outfit-700 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body{
  font-size: 15px;
  background-color: #D5E1EF;
  text-align: center;
  max-width: 100%;
  overflow-x: hidden;
}

.container{
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* body {
  overflow-x: hidden !important;
}
.container {
  max-width: 100% !important;
  overflow-x: hidden !important;
} */

.qr_code_card{
  margin: auto 7.46%;
  background: #FFFFFF;
  padding: 16px;
  border-radius: 20px;
  width: 100%;
  max-width: 320px;
}

.qr_code_img_container{
  max-width: 288px;
  margin: auto;
}

.qr_code{
  display: inline-block;
  max-width: 100%;
  border-radius: 10px;
}

.qr_code_card_text{
  margin: 24px 0;
}

.qr_code_h1{
  color: #1F314F;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}

.qr_code_p{
  margin-top: 16px;
  font-weight: 400;
  color: #7D889E;
  line-height: 19px;
  letter-spacing: 0.1875px;
  padding: 0 16px;
}

.attribution{
  padding: 5px 10px;
  text-align: center;
}